.PopUpChangePassword{
	display: inline-block;
	width: 571px;
	height: 380px;
	position: absolute;
	top: 25%;
	left: 25%;
	background-color: white;
	z-index: 104;
}
.PopUpChangePassword>.GJtr1{
	margin-top: 120px;
}
.PopUpChangePassword>.GJtr1,.GJtr2{
	margin-bottom: 32px;
}
.PopUpChangePassword>span{
	display: inline-block;
    width: 57px;
    line-height: 32px;
    font-size: 14px;
    color: #32405f;
    text-align: right;
    margin-right: 17px;
    margin-left: 45px;
}
.PopUpChangePassword>input{
    width: 372px;
    height: 32px;
    border: 1px solid #f1f1f1;
    outline: medium;
}
.PopUpChangePassword>input:focus{
	border: 1px solid rgb(173, 220, 196);
}
.PopUpChangePassword>.btn{
	width: 84px;
	height: 28px;
	border: 1px solid #bfc4c8;
	background-color: white;
	margin-top: 50px;
	cursor: pointer;
	font-size: 14px;
	line-height: 28px;
}
.PopUpChangePassword>.concel{
	margin-left: 185.5px;
	margin-right: 32px;
}
.PopUpChangePassword>.confirm{
	color: white;
	background-color: #04be5b;
}