.PopUpModifyFollowers{
	width: 600px;
    height: 406px;
    background-color: white;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:  auto;
	z-index: 104;
}
.PopUpModifyFollowers>.GJtr1{
	margin-top: 120px;
	margin-bottom: 32px;
}
.PopUpModifyFollowers>span{
	display: inline-block;
    width: 57px;
    line-height: 32px;
    font-size: 14px;
    color: #32405f;
    text-align: right;
    margin-right: 17px;
    margin-left: 45px;
}
.PopUpModifyFollowers>select{
    width: 372px;
    outline: medium;
}
.PopUpModifyFollowers>button{
    width: 84px;
    height: 28px;
    background-color: #fff;
    border: 1px solid #bfc4c8;
    color: #bfc4c8;
    outline: medium;
    margin-top: 49px;
}
.PopUpModifyFollowers>.concel{
	margin-left: 193px;
    margin-right: 38px;
}